
<!-- Twitter Card data -->
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>
{{ with .Site.Social.twitter }}<meta name="twitter:site" content="@{{ . }}"/>{{ end }}
{{ with .Site.Social.twitter_domain }}<meta name="twitter:domain" content="{{ . }}"/>{{ end }}
{{ range .Site.Authors }}
  {{ with .twitter }}<meta name="twitter:creator" content="@{{ . }}"/>{{ end }}
{{ end }}
  <meta name="twitter:card" content="summary_large_image"/>
  

<!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="{{ with .Params.images }} {{ index . 0 | absURL }}{{ else }}{{ .Site.Params.image | absURL }}{{ end }}"/>


